/* Grundlegendes Styling für das gesamte Dokument */
body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #84c3cf;
  font-family: "Oswald", sans-serif;
}

/* Styling für den Spiel-Container */
.game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Passt sich der Breite des Viewports an */
  height: 100vh; /* Passt sich der Höhe des Viewports an */
}

/* Styling für das Canvas-Element */
canvas {
  border: 2px solid #000;
  width: 100vw; /* Passt sich der Breite des Viewports an */
  height: 100vh; /* Passt sich der Höhe des Viewports an */
  display: block;
}

/* Styling für den Restart-Button */
.restart {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none; /* Startet versteckt */
}

.restart img {
  width: auto; /* Breite proportional zur Höhe */
  height: 25vh; /* 25% der Viewport-Höhe */
}

/* Media Query für Querformat */
@media screen and (orientation: landscape) {
  .game-container {
    width: 540px; /* Feste Breite im Querformat */
    height: 960px; /* Feste Höhe im Querformat */
  }

  canvas {
    width: 540px; /* Feste Breite im Querformat */
    height: 960px; /* Feste Höhe im Querformat */
  }

  .restart img {
    height: 135px; /* Ein Viertel von 1080px */
    width: auto;   /* Breite proportional zur Höhe */
  }
}
