/* Grundlegendes Styling für das gesamte Dokument */
body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #84c3cf;
  font-family: "Oswald", sans-serif;
}

.game-container {
  position: relative;
}

/* Styling für das Canvas-Element */
canvas {
  border: 2px solid #000;
  width: 100%;
  height: auto;
  max-height: 100vh;
  aspect-ratio: 6 / 9;
  /* Fallback für Browser ohne Support für aspect-ratio */
  display: block;
}

/* Styling für den Restart-Button */
.restart {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none; /* Startet versteckt */
}

.restart img {
  width: 100px; /* Passe die Größe des Restart-Buttons nach Bedarf an */
  height: auto;
}
