/* Grundlegendes Styling für das gesamte Dokument */
body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #84c3cf;
  font-family: "Oswald", sans-serif;
  touch-action: manipulation; /* Verhindert Doppelklick-Zoom */
}

.game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

canvas {
  border: 2px solid #000;
  width: 100vw;
  height: 100vh;
  display: block;
}

.restart {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}

.restart img {
  width: auto;
  height: 25vh;
}

@media screen and (orientation: landscape) {
  .game-container {
    width: 540px;
    height: 960px;
  }

  canvas {
    width: 540px;
    height: 960px;
  }

  .restart img {
    height: 135px;
    width: auto;
  }
}
